*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
h2{
    size: 70px;
}

/*---------------- header section ---------------------*/

.header{
    background-image: url(images/banner/banner3.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 700px;
    text-align: right;
    color: white;
}
.header-content{
    padding-top: 170px;
    padding-right: 100px;
    font-weight: 700;
}
.header-title{
    font-size: 70px;
}
.header-description{
    padding-top: 25px;
    font-size: 18px;
}
.btn-primary{
    color: #005FAC;
    font-weight: 600;
    font-size: 20px;
    text-align: right;
    border: 0;
    padding: 16px 30px;
    margin-top: 35px;
    border-radius: 5px;
}
/*-------------- main area ------------------*/

.main-section{
   display: flex;
   margin-top: 100px;
   margin-bottom: 100px;
}
.failure-area-image{
    width: 60%;
}
.failure-area-image img{
    width: 80%;
    padding-left: 130px;
}

#failure-area{
    margin-right: 60px;
    margin-left: 50px;
    margin-top: 90px;
}
h2{
    font-size: 65px;
    font-weight: 700;
    color: #151414;
}
.details-description, .text{
    margin-top: 30px;
    font-size: 16px;
}
.icon{
    color: darkorange;
    font-size: 20px;
}

/*----------- my plans style -----*/

.my-plans{
    text-align: center;
    margin-bottom: 130px;
    
}
.section-title{ 
    margin-top: 80px;
    margin-bottom: 100px;
}
.skills-content{  
    display: flex;
    justify-content: space-evenly;
}

.skill-title{
    font-size: 30px;
    font-weight: 700;
    margin-top: 25px;
}
.skill-description{
    font-size: 25px;
    font-weight: 500;
    margin-top: 25px;
}
/* my plan style end */
/*--------------- call now start------- */
.size-of-content{
    display: flex;
   justify-content: center;
   flex-direction: column;
   padding-left: 120px;
   padding-right: 120px;
    
}
.call-now{
    
    margin-top: 50px;
    margin-bottom: 150px;
    padding: 50px;
    background-image: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%),url('images/watch.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: left;
    border-radius: 10px;
    color: white;
}

.backgroung_img-story {
    background-image: url(images/watch.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 370px;
    color: #ffffff;
    text-align: center;
    padding-top: 20%;
}
/* --------------footer area------------- */

.footer-content{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    height: 550px;
   
}
.footer-future-section{
    padding-top: 100px;
    color: white;
}
.footer-future-section h2{
    color: white;
    font-size: 70px;
}
.footer-subscribe-section {
    padding-top: 100px;
    color: white;  
}
.sub-title{
    padding:12px 10px;
}
